/* Style global de la page */
body
{
    background-image: url("img/slashes.png");
    color: white;
}

/* Style de la barre de navigation */
#nav-barre
{
    list-style-type: none; /* Retire les "puces" */
}

.lien-nav
{
    display: inline;
}

.lien-nav a
{
    text-decoration: none;
}

/* Style du footer */
footer
{
    text-align: center;
    margin-top: 50px;
}

.nom
{
    font-weight: bold;
}

.prenom
{
    font-style: italic;
}

.fa
{
    text-decoration: none;
}